<template>
  <div>
    <h1>子菜单页面</h1>
    <p>This is the about page！~</p>
  </div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'About'
})
</script>

<style>
/* CSS styles for the home page */
</style>